{% extends "base.html" %}
{% block title %}
        <title>{{ blog_content.title }}</title>
 {% endblock %}


{% block css %}
       <link href="https://cdn.bootcss.com/highlight.js/9.15.8/styles/github.min.css" rel="stylesheet">
        <link href="/static/css/blog_detail.css" rel="stylesheet">

 {% endblock %}



{% block contents %}
<article>
            <h3 class="arc-title index-title">{{ blog_content.title }} </h3>

            <div class="post-line bg-color">
                <ul>
                    <li><a title="{{ blog_content.date_time }}"><i class="el-time"></i>
                        <time>{{ blog_content.date_time }}</time>
                    </a></li>
                    <li><a href="#" title=""><i class="el-user"></i>plane</a></li>
                    <li><i class="el-comment"></i>{{ blog_content.comment }}条</li>
                    <li><a title="已有 {{ blog_content.view }} 次浏览"><i class="el-eye-open"></i>{{ blog_content.view }}</a></li>
                </ul>
            </div>

        <div class="post-content" style="padding: 10px 20px 20px 10px">

                {#safe表示显示md数据#}
                {{ blog_content.content|safe  }}

        </div>
</article>
    <!-- 分享 -->

<div class="article-fx"><a class="fx-btn img-circle" href="javascript:;" title="">分享</a>
                <div class="bd-fx arc-bdfx" style="display: none;">
                    <i class="el-remove fx-close"></i>
                    <ul class="bdsharebuttonbox bdshare-button-style1-32" data-bd-bind="1628064122177">
                        <li><a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a></li>
                        <li><a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a></li>
                        <li><a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a></li>
                        <li><a href="#" class="bds_tieba" data-cmd="tieba" title="分享到百度贴吧"></a></li>
                    </ul>
                    <script>window._bd_share_config = {
                        "common": {
                            "bdSnsKey": {},
                            "bdText": "",
                            "bdMini": "2",
                            "bdMiniList": false,
                            "bdPic": "",
                            "bdStyle": "1",
                            "bdSize": "32"
                        }, "share": {}
                    };
                    with (document) 0[(getElementsByTagName('head')[0] || body).appendChild(createElement('script')).src = 'http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion=' + ~(-new Date() / 36e5)];</script>
                </div>
            </div>



    <!-- 打赏 -->
 <div class="cyReward " style="text-align: center">
   <div id="cyReward" role="cylabs" data-use="reward" sid="51">
    <div id="cy-reward-click" onclick="openWindow(this)"class="cy-reward-btn cy-reward-btn-red"></div>

        <div id="light_qq" class="white_content">
        <h2>你的支持是我最大的动力</h2>

        <b>微信</b>
        <b>支付宝</b>

            <img src='/static/imga/vx.jpg' />
            <img src='/static/imga/zfb.jpg' />

        </div>

       <div id="fade" class="black_overlay"  onClick="closeWindow()">
</div>


   </div>
  </div>

    <!-- 标签 -->
    <div class="article_tag">
                <ul>


                {% for tag in blog_content.tag.values %}


                    <li><a href="/blog/category/{{ tag.tag_name }}/">{{ tag.tag_name }}</a></li>

                {% endfor %}


                </ul>
            </div>



   <!--评论表单-->
        {% include "blog/message.html"  with source_id=blog_content.id %}


 <script src="https://cdn.bootcss.com/highlight.js/9.15.8/highlight.min.js"></script>
  <script src="https://cdn.bootcss.com/highlightjs-line-numbers.js/2.7.0/highlightjs-line-numbers.min.js"></script>
  <script>
    hljs.initHighlightingOnLoad();
    hljs.initLineNumbersOnLoad();



   function openWindow(obj){
        var qq_or_weixin = "light_qq";

        document.getElementById(qq_or_weixin).style.display='block';
        document.getElementById('fade').style.display='block';
    }
    function closeWindow(){
        document.getElementById('light_qq').style.display='none';
        document.getElementById('fade').style.display='none';
    }
 //   window.onload = function (){
//       document.getElementsByClassName('animation-div')[0].style.display='none';
  //  }

    // window.onload = function (){


      //  while (1){
      //      c = document.getElementsByClassName("section-cbox-w")
       //     if (c){
       //         pl = document.getElementsByClassName("cy-number")[1].textContent
         //       console.log(pl)
        //        break;
       //     }
      //  }

   //     pl = document.getElementsByClassName("cy-number")[1].textContent
   //     id = location.href.split("/")
   //     $.ajax({
   //         type: "post",
   //         url: "/blog_commenced/" + id[id.length - 2],
   //         success: function (res) {
    //
     //       },
     //   });

   //  }

  </script>

 {% endblock %}
