<!DOCTYPE html>
<html lang="zh"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>注册</title>

    <link rel="stylesheet" type="text/css" href="/static/login/login.css">
    <script rel="stylesheet" src="/static/js/jquery.2.1.4.min.js"></script>

<body>
    <div class="main">
        <div class="login" style="height: 360px">
            <div class="account">
                <form class="loginform">
                    {% csrf_token %}
                    <div class="rlogo">注册面板</div>
                    <div class="line"><input autocomplete="off" class="inputtxt" onclick="delbg()" name="username"  placeholder="账号" type="text"><div class="Validform_checktip"></div></div>
                    <div class="line"><input autocomplete="off" class="inputtxt"  onclick="delbg()" name="mailbox"  placeholder="邮箱" type="text"><div class="Validform_checktip"></div></div>
                    <div class="line"><input autocomplete="off" class="inputtxt" onclick="delbg()" name="password"  placeholder="密码" type="password"><div class="Validform_checktip"></div></div>
                    <div style="color: red;position: relative;top: -14px;" id="errorStr"></div>

                    <div class="login_btn"><input  value="注册" onclick="my_submita()"></div>

               </form>
            </div>

            <div class="entrance" style="">
                <div class="bg_img"></div>
                <div class="tips">
                      <a href="/login/" style=" text-decoration:none;"> <span><span> 登录 </span></span></a>
                    <em></em>
                </div>
            </div>
        </div>
    </div>

<script>
function delbg(){
    $("#errorStr").html("")
}

function ischeckemail(email){
//判断邮箱
  if(email != "") {
     var reg = /^\w+((-\w+)|(\.\w+))*\@[A-Za-z0-9]+((\.|-)[A-Za-z0-9]+)*\.[A-Za-z0-9]+$/;
     //调用正则验证test()函数
     isok= reg.test(email);
       if(!isok) {
           $("#errorStr").html("邮箱格式不正确，请重新输入！")
            return false;
        }
       return true;
    }
}
function idpwd(val){
    //密码长度
　　if(val.length < 6){
      $("#errorStr").html("请输入6-20位的密码")
      return false;
　　}
    return true;
  }
function CheckChinese(val){
    //判断用户名
　　var reg = new RegExp("[\\u4E00-\\u9FFF]+","g");
　　if(reg.test(val)){
      $("#errorStr").html("不允许输入中文，请从新输入！")
      return false;
　　}
    return true;
  }
function my_submita(){
    username = $("input[name=\"username\"]").val()
    password = $("input[name=\"password\"]").val()
    mailbox = $("input[name=\"mailbox\"]").val()
    csrfmiddlewaretoken = $("input[name=\"csrfmiddlewaretoken\"]").val()

    if (CheckChinese(username)&& idpwd(password) && ischeckemail(mailbox)){
       $.ajax({
            type: "post",
            url: "/Register/",
            data : {
                'password' : password,
                'mailbox' : mailbox,
                'username' : username,
                'csrfmiddlewaretoken' : csrfmiddlewaretoken
            },
            success: function (res) {
               if(res == '注册成功'){
                   location.href = '/'
               }
            },
        });
    }

}


</script>
</body>
</html>