<!DOCTYPE html>
<html lang="zh"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>登录</title>

    <link rel="stylesheet" type="text/css" href="/static/login/login.css">
    <script rel="stylesheet" src="/static/js/jquery.2.1.4.min.js"></script>

<body>
    <div class="main">
        <div class="login">
            <div class="account">
                <form class="loginform">
                    {% csrf_token %}
                    <div class="rlogo">登录面板</div>
                    <div class="line"><input autocomplete="off" onclick="delbg()"class="inputtxt" name="username"  placeholder="账号" type="text"><div class="Validform_checktip"></div></div>
                    <div class="line"><input  autocomplete="off" onclick="delbg()"class="inputtxt" name="password"  placeholder="密码" type="password"><div class="Validform_checktip"></div></div>
                    <div style="color: red;position: relative;top: -14px;" id="errorStr">{{ errorStr }}</div>

                    <div class="login_btn"><input  value="登录" onclick="my_submita()"></div>

                    <a class="resetpw" href="http://www.bt.cn/bbs/thread-1172-1-1.html" target="_blank">忘记密码&gt;&gt;</a>
                </form>
            </div>

            <div class="entrance" style="">
                <div class="bg_img"></div>
                <div class="tips">
                    <a href="/Register/" style=" text-decoration:none;"> <span><span> 注册 </span></span></a>
                    <em></em>
                </div>
            </div>
        </div>
    </div>

<script>
function delbg(){
    $("#errorStr").html("")
}
function idpwd(val){
    //密码长度
　　if(val.length < 6){
      $("#errorStr").html("请输入6-20位的密码")
         return false;
    　　}
    return true;
}
function CheckChinese(val){
    //判断用户名
    　　var reg = new RegExp("[\\u4E00-\\u9FFF]+","g");
    　　if(reg.test(val)){
          $("#errorStr").html("不允许输入中文，请从新输入！")
          return false;
    　　}
        return true;
  }
function my_submita(){
    username = $("input[name=\"username\"]").val()
    password = $("input[name=\"password\"]").val()
    csrfmiddlewaretoken = $("input[name=\"csrfmiddlewaretoken\"]").val()
    if (CheckChinese(username)  && idpwd(password) ){
       $.ajax({
            type: "post",
            url: "/login/",
            data : {
                'password' : password,
                'username' : username,
                'csrfmiddlewaretoken' : csrfmiddlewaretoken
            },
            success: function (res) {
               if(res == '登录成功'){
                   location.href = '/'
               }
            },
        });
    }

}


</script>
</body>
</html>